@font-face {
  font-family: ragular;
  src: url(./fonts/Adamina-Regular.ttf);
}
@font-face {
  font-family: bolder;
  src: url(./fonts/AlegreyaSans-Medium.ttf);
}
@font-face {
  font-family: italic;
  src: url(./fonts/AlegreyaSans-Italic.ttf);
}
.ChatBox {
  position: fixed;
  bottom: 0;
  right: 100px;
  border: solid 1px #319a2b;
  width: 300px;
  max-height: 400px;
}
.ChatBox-header {
  background-color: #319a2b;
  display: flex;
  padding: 10px;
  color: azure;
  cursor: pointer;
  font-size: 14px;
  font-family: regular;
  justify-content: space-between;
}
.ChatBox-messageContainer {
  height: 250px;
  padding: 5px;
  overflow-y: scroll;
  background-color: #fff;
}
.ChatBox-message {
  display: flex;
  position: relative;
  padding: 10px;
  margin-left: 10px;
  width: auto;
  max-width: 70%;
  font-size: 12px;
  text-align: justify;
  font-family: sans-serif;
  margin-bottom: 10px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #dcf373;
  color: #232222;
  line-height: 18px;
}
.ChatBox-message:before {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  left: -5px;
  border: 6px solid;
  transform: rotate(-45deg);
  border-color: #dcf373 transparent transparent #dcf373;
}
.ChatBox-close {
  background-image: url("./img/close.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 15px;
  height: 15px;
}
.ChatBox-noMessageWraper {
  width: 100%;
  margin-top: 50px;
}
.ChatBox-noMessage {
  background-image: url("./img/msg.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100px;
  height: 100px;
  margin-left: 30%;
}
